@using AspNetCoreSolution.Models.Api.Library
@model Upgrade

@{
    ViewBag.Title = "Edit";
}

<h2>Edit upgrade</h2>

<form method="post" asp-controller="Upgrade" asp-action="Edit">
    <div class="form-group">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Version)

        <h3>Title</h3>
        <br />
        <div class="container">
            @Html.EditorFor(m => m.Title)
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <h3>Images</h3>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    @Html.LabelFor(m => m.Preview, "Preview")
                    <br />
                    @Html.EditorFor(m => m.Preview)
                    @Html.ValidationMessageFor(m => m.Preview)
                </div>
            </div>
        </div>

        <br />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
