@using AspNetCoreSolution.Models.Api.Library
@model IEnumerable<Weapon>

@{ 
    ViewBag.Title = "Weapon";
}

<h3>Weapons</h3>

<div class="weaponList">
    <br />
    @Html.ActionLink("Create new...", "Create")
    <br /><br />
    @foreach (Weapon item in Model)
    {
          <div>
              <div style="float:left; width:auto;">@item.Id |</div>
              <div style="float:left; width:auto;">
                  | @item.Title |
              </div>
              <div style="float:left; width:auto;">
                  | A: @item.BaseAttack+/-@item.AttackDelta | APS: @item.AttackSpeed
              </div>
              <div style="float: right; width: auto;">
                  @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                  @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
              </div>
              <div style="width:100%; height:24px; margin-bottom:4px;"></div>
          </div>
    }
</div>
